<h3>you are editing the scenes and choices in '<%= @story.title%>'</h3>
<div id="controls">
  <%= link_to "add scene", new_story_scene_path(@story), remote: true %>
  <select>
    <option value="">add start scene</option>
    add start scene
  </select>
  <button type="button">submit</button>
</div>

<div id="edit-panel"></div>

<div id="scenes-block">
  <% @story.scenes.each do |scene| %>
    <%= render partial: "scenes/card", locals: { scene: scene, story: @story }%>
  <% end %>
</div>
