<h3>this is the homepage</h3>
<div id="story-details">

</div>
  <div class="story-block cfx">
    <h3>most recent</h3>
    <% @most_recent.each do |story| %>
      <%= link_to show_details_path(story), remote: true do %>
        <%= render partial: "stories/card", locals: { data: story }%>
      <% end %>
    <% end %>
  </div>
  <div class="story-block cfx">
    <h3>all stories</h3>
    <% @stories.each do |story| %>
      <%= link_to show_details_path(story), remote: true do %>
        <%= render partial: "stories/card", locals: { data: story } %>
      <% end %>
    <% end %>
  </div>
