<h3>this is your account profile</h3>
<div id="edit-panel"></div>
<div class="story-block cfx">
  <h3>public stories</h3>
  <div id="public">
    <%= render partial: 'stories/edit_block', locals: { stories: @public } %>
  </div>
</div>

<div class="story-block cfx">
  <h3>private stories</h3>
  <div id="private">
    <%= render partial: 'stories/edit_block', locals: { stories: @private } %>
  </div>
</div>

<div class="story-block cfx">
  <h3>incomplete stories</h3>
  <div id="invalid">
    <%= render partial: 'stories/edit_block', locals: { stories: @invalid } %>
  </div>
</div>
