<h3>this is your account profile</h3>
<div class="story-block cfx">
  <h3>public stories</h3>
  <% @public.each do |story| %>
    <%= link_to show_edit_path(story), remote: true do %>
      <%= render partial: "stories/card", locals: { data: story }%>
    <% end %>
  <% end %>
</div>

<div class="story-block cfx">
  <h3>private stories</h3>
  <% @private.each do |story| %>
    <%= link_to show_edit_path(story), remote: true do %>
      <%= render partial: "stories/card", locals: { data: story } %>
    <% end %>
  <% end %>
</div>
